body{
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #F8EDFF;
}
h2, h3{
    font-family: 'Outfit', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}
.main-card{
position: relative;
    height: 100vh;
    display: flex;
    gap: 30px;
    align-items:center ;
}
.main-card p{
    width: 400px;
    color: #504f52;
    font-size: 18px;
}
.main-card h2{
    margin-top: 0;
    color: #525CEB;
    font-size: 30px;
}
.profile-pic{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #3D3B40;
}
.greeting{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    color: #504f52;
}
.landing-links{
    display: flex;
    gap: 5px;
}
.landing-links i{
    font-size: 25px;
    color: #504f52;
}
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.about-me .p{
    text-align: center;
    width: 800px;
    margin-bottom: 100px;
}
.fa-brands{
    font-size: 35px;
    color: rgb(151, 145, 145);
    margin-left: 10px;
    margin-right: 10px;
}
.link{
    margin-bottom: 100px;
}
.language-known{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 100px;
    padding: 50px;
}
a{
    text-align: left;
    text-decoration: none;
    color: #F8EDFF;
}
footer{
    text-align: center;
    color: rgb(151, 145, 145);
}
.second-part{
    width: 100%;
    background-color: #3D3B40;
    color:  rgb(151, 145, 145);
}
.second-part h2,.second-part h3{
    color:#F8EDFF;
}
.second-part .intro{
    font-size: 18px;
    width: 45%;
    text-align: center;
    color: #F8EDFF;
    margin-bottom: 40px;
}
@media (max-width:800px){
    .second-part .about-me p{
        width: auto;
    }
    .container{
        justify-content: left;
        align-items: start;
    }
    .main-card{
        height: auto;
        padding: 20px;
        display: inline;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 180px;
    }
    .main-card p{
        width: auto;
    }
    .about-me .p{
        width: auto;
        padding: 20px;
    }
    .profile-pic{
        position: absolute;
    }
    .language-known{
        gap: 0px;
    }
    .second-part{
        bottom: 0;
    }
    .link{
        font-size: 15px;
    }
    .link a i{
        font-size: 26px;
}
    .language-known{
        flex-direction: column;
        gap: 10px;
    }
@media (max-width:310px) {

    .main-card .intro{
        display: none;
    }
    .language-known p{
        display: none;
    }
    .link{
        font-size: 10px;
    }
    .link a i{
        font-size: 20px;
    }
}
@media (max-width:195px) {
    .main-card{
        margin-bottom: 100px;
    }
    .language-known{
        display: none;
    }
    .profile-pic{
        width: 100px;
        height: 100px;
    }
    .link{
        display: none;
    }
}}